@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <p class="fs-5"><em>En Liga Deportiva encontrarás las mejores ligas, equipos y eventos para disfrutar del fútbol como nunca antes.</em></p>
    <img src="~/Imagenes/cancha.png" alt="Balón de fútbol" style="width:350px; margin-top:2rem; opacity:0.8;" />
</div>